.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}
#verification_heading {
	font-size: 24px;
	margin-bottom: 20px;
}
#verification_subtext {
font-size: 16px;
	color: black;
	margin-bottom: 30px;
}
.code-container {
display: flex;
justify-content: center;
/* flex-direction: column; */
/* align-items: center */
width: 100%;
}
.code{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px;
	text-align: center;
	margin-right: 20px;
/* margin-bottom: 10px; */
height: 80px;
	width: 40px;
}
.code:last-child {
margin-right: 0;
}
.code:focus {
	outline: 2px solid #007bff;
}